TELEGRAM_BOT_TOKEN=123456:ABC...
MONGO_URI=mongodb+srv://user:pass@cluster0.mongodb.net/telegram_bot_db?retryWrites=true&w=majority
DB_CHANNEL_ID=-1001771131381
OWNER_ID=123456789
FORCE_SUB_CHANNEL=@your_channel_optional
AUTO_DELETE_SECONDS=300
EXPOSED_URL=https://your-koyeb-url.koyeb.app
PORT=8080
