# env.example
TELEGRAM_BOT_TOKEN=123456:ABCDEF....
MONGO_URI=mongodb+srv://user:password@cluster0.mongodb.net/mydb?retryWrites=true&w=majority
ADMIN_ID=123456789   # your Telegram user id
EXPOSED_URL=https://your-app.koyeb.app
PORT=8080
